doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title webpack-pug
    
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Fira+Sans|Raleway:300,400,400i,500,700,800&display=swap")

    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    script(crossorigin='anonymous', src='https://kit.fontawesome.com/c3e27bc82a.js')
    

  body.isHome
    include ../includes/header.pug
      